/*
 * "Common guide for boilerplate"
 * cheffplate! - common/base.styl
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	FontAwesome
  ============================================================================*/

@import url('../includes/FontAwesome/font-awesome.min.css');

/*==============================================================================
	Mixins
  ============================================================================*/

@import '../includes/mixins'

/*==============================================================================
	Global Variables
  ============================================================================*/

@import '../includes/variables'

/*==============================================================================
	CSS Reset
  ============================================================================*/

@import '../includes/reset'
