/*
 * "Cheffplate grid components"
 * cheffplate! - ./includes/components/grid
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	Objects [models]
  ============================================================================*/

.grid
  box-sizing border-box
  padding 0 .5rem

  +variant(container)
    margin 0 auto
    max-width 1200px
    width 100%

  +variant(no-gutters)
    padding 0
