/*
 * "Grid guide for boilerplate"
 * cheffplate! - ./includes/grid
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	Flexbox Grid
  ============================================================================*/

/* .......................................
	Mixins
  ......................................*/
@import 'mixins/helpers'
@import 'mixins/grid'
@import 'mixins/smacss'

/* .......................................
	Components
  ......................................*/
@import 'components/helpers'
@import 'components/grid'

/*==============================================================================
	Master
  ============================================================================*/

init($breakpoints, $columns)
