/*
 * "Global Variables"
 * cheffplate! - ./includes/variables
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	Global Variables
  ============================================================================*/

/* .......................................
	Utils
  ......................................*/
$lighter-percent = 10%
$light-percent = 20%
$medium-percent = 30%
$half-percent = 50%
$strong-percent = 70%
$stronger-percent = 90%
$text-visually-hidden = -9999px
$bottom-top-snippet = -150px
$size-between-help-texts = remify(40px)

/* .......................................
	Colors: http://chir.ag/projects/name-that-color/
  ......................................*/
$black = #000
$white = #FFF
$gray = #CCC
$blue = #00F
$pale-canary = #FF9

/* .......................................
	Default sizes and values
  ......................................*/
$default-font-general = 'Dancing Script', 'Helvetica', 'Verdana'
$default-font-size-app = remify(16px)
$default-width-window-wrapper = 100%

/* .......................................
	Grid settings
  ......................................*/
$breakpoints = {
  'xs' :  0,
  'sm' : 544px,
  'md' : 768px,
  'lg' : 992px,
  'xl' : 1200px
}
$columns = 12

/* .......................................
	Media Queries
  ......................................*/
$media-query-any-retina-display = 'only screen and (-webkit-min-device-pixel-ratio: 1.5) or (min--moz-device-pixel-ratio: 1.5) or (min-resolution: 240dpi)'
$media-query-big-desktop-screen = 'only screen and (min-width: 1500px)'
$media-query-normal-desktop-screen = 'only screen and (max-width: 1300px)'
$media-query-medium-desktop-screen = 'only screen and (min-width: 1200px)'
$media-query-weak-desktop-screen = 'only screen and (max-width: 1199px)'
$media-query-desktop = 'only screen and (min-width: 769px) and (max-width: 1260px)'
$media-query-min-desktop = 'only screen and (min-width: 769px)'
$media-query-tablet = 'only screen and (max-width: 768px)'
$media-query-tablet-min = 'only screen and (min-width: 561px)'
$media-query-mobile = 'only screen and (max-width: 560px)'
$media-query-mobile-common = 'only screen and (max-width: 480px)'
$media-query-mobile-min = 'only screen and (max-width: 320px)'
$media-query-mobile-wide = 'only screen and (min-width: 480px) and (max-width: 568px)'
