/*!
 * "Base for boilerplate"
 * cheffplate! - common/base.styl
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 *
 * Custom page used for all kinda pages on boilerplate;
 *
 */

/*==============================================================================
	Common Guide
  ============================================================================*/

@import 'base/common'

/*==============================================================================
	Fonts
  ============================================================================*/

@font-face
	font-family 'Dancing Script'
	font-style normal
	font-weight 400
	src local('Dancing Script'), local('DancingScript'), url('../assets/fonts/DancingScript/dancing-script-regular.woff2') format('woff2')
@font-face
	font-family 'Dancing Script'
	font-style normal
	font-weight 700
	src local('Dancing Script Bold'), local('DancingScript-Bold'), url('../assets/fonts/DancingScript/dancing-script-bold.woff2') format('woff2')


/*==============================================================================
	Local Variables
  ============================================================================*/

$default-width-window = $default-width-window-wrapper

/*==============================================================================
	Base Style
  ============================================================================*/

/* .......................................
	General Style
  ......................................*/
@import 'base/general'

/* .......................................
	Common sprite
  ......................................*/
@import 'includes/sprites/sprite-common.css'

/* .......................................
	Default
  ......................................*/
.wrapper
	clear both
	margin 0 auto
	width $default-width-window

/* .......................................
	Divisor
  ......................................*/
hr, .divisor
	height remify(10px)
	margin-top remify(20px)
	border-top remify(3px) dashed $black


/*==============================================================================
	Content
  ============================================================================*/

/* .......................................
	Header
  ......................................*/

/* @import 'includes/header' */

/* .......................................
	Master
  ......................................*/

.content
	background $blue
	height 100vh
	color $white
	font-weight 700
	h1
		font-size remify(25px)
.img-test
	sprite($sprt-icon-webpack-in)
	background-color blue

/* .......................................
	Footer
  ......................................*/

/* @import 'includes/footer' */

/* =============================================================================
   Media Customized
   ========================================================================== */

@media $media-query-tablet
	*
		user-select(none)

	input, input:before, input:after, iframe
		user-select(initial)


/* =============================================================================
	Hacks (only those which are needed)
   =========================================================================== */

/* .......................................
	All IEs
  ......................................*/
html.ie
	.accessibility-aid
		display none

/* .......................................
	Old IEs
  ......................................*/
html.ltie9
	*:disabled, *.disabled, btn.disabled
		background $background-btn-default-color !important
