/*
 * "Cheffplate helper mixins"
 * cheffplate! - ./includes/mixins/helpers
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	Functions [mixins]
  ============================================================================*/

/* .............................................................................
	[make-]
	- Helper for the grid align top

	*EXAMPLE:
	> make-row-helpers($breakpoint)
	.............................................................................
*/
make-row-helpers($breakpoint)
  .row-{$breakpoint}-top
    align-items flex-start
  .row-{$breakpoint}-center
    align-items center
  .row-{$breakpoint}-bottom
    align-items flex-end

/* .............................................................................
	[make-]
	- Helper for the sorting the first item

	*EXAMPLE:
	> make-col-helpers($breakpoint)
	.............................................................................
*/
make-col-helpers($breakpoint)
  .col-{$breakpoint}-align-top
    align-self flex-start
  .col-{$breakpoint}-align-center
    align-self center
  .col-{$breakpoint}-align-bottom
    align-self flex-end

  .col-{$breakpoint}-first
    order -1
  .col-{$breakpoint}-reset
    order 0
  .col-{$breakpoint}-last
    order 1
  .row-{$breakpoint}-reverse
    flex-direction row-reverse
  .col-{$breakpoint}-flex
    display flex

/* .............................................................................
	[make-]
	- Helper for aligning the text

	*EXAMPLE:
	> make-text-helpers($breakpoint)
	.............................................................................
*/
make-text-helpers($breakpoint)
  .text-{$breakpoint}-right
    text-align right
  .text-{$breakpoint}-left
    text-align left
  .text-{$breakpoint}-center
    text-align center

/* .............................................................................
	[make-]
	- Helper wrapper

	*EXAMPLE:
	> make-helpers($breakpoint)
	.............................................................................
*/
make-helpers($breakpoint)
  make-row-helpers($breakpoint)
  make-col-helpers($breakpoint)
  make-text-helpers($breakpoint)