/*
 * "Cheffplate smacss mixins"
 * cheffplate! - ./includes/mixins/smacss
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	Functions [mixins]
  ============================================================================*/

has($element)
  /&{$element}
    {block}

variant($modifier)
  /&{$modifier}
    {block}
