.sprt-icon-es6 {
  display: inline-block;
  background-position: 0px 0px;
  width: 400px;
  height: 400px;
  background-image: url('../../../assets/images/sprite-common.png');
}

.sprt-icon-webpack {
  display: inline-block;
  background-position: 0px -400px;
  width: 400px;
  height: 400px;
  background-image: url('../../../assets/images/sprite-common.png');
}

