/*
 * "Header style for boilerplate"
 * cheffplate! - ./base/header
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 07/2016
 */

/*==============================================================================
	Header
  ============================================================================*/

/* .......................................
	Grid settings
  ......................................*/
header
  background purple
